docs/images/cashier_hand_keypoints.png filter=lfs diff=lfs merge=lfs -text
docs/images/customer_age_gender.png filter=lfs diff=lfs merge=lfs -text
docs/images/example.gif filter=lfs diff=lfs merge=lfs -text
